.welcome-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
  }
  
  .welcome-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('@/assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .welcome-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .welcome-content {
    z-index: 1;
  }
  
  .welcome-buttons {
    margin-top: 20px;
  }
  
  .welcome-button {
    background-color:  #e50914;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
  }
  
  .welcome-button:hover {
    background-color:   #920c13;
  }
  